* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.page-header {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(60, 53, 124)
  );
  margin-bottom: 2em;
  padding: 20px;
}

.title {
  font-size: 1.5em;
  padding-left: 25px;
}

.colors-count,
.colors-name {
  font-size: 1em;
  padding-left: 25px;
}

.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.card {
  border: 0.5px solid rgb(180, 177, 177);
  display: flex;
  flex-direction: column;
  height: 35em;
  margin-bottom: 2em;
  width: 23em;
}


.card img {
  align-self: center;
  height: 100%;
  width: 100%;
}

.card-title {
  font-size: 1.2em;
  margin-top: 1.5%;
  padding-bottom: 5px;
  padding-left: 4%;
  padding-top: 5px;
}

.card-description {
  font-size: 1em;
  padding-bottom: 15px;
  padding-left: 4%;
}

.card-button {
  background-color: #003049;
  box-shadow: 0px 5px 4px 3px rgb(171, 171, 172);
  color: rgb(242, 242, 243);
  height: 4em;
  margin-bottom: 5%;
  margin: 2.5%;
  width: 7em;
}

.clicked-button {
  background-color: #669bbc;
}

.clicked-card {
  box-shadow: 0px 5px 9px 3px rgb(171, 171, 172)
}


@media only screen and (max-width: 394px) {
  .cards {
    flex-direction: column;
  }
  .card {
    height: 30em;
    margin-bottom: 2em;
    width: 50%;
  }
}
