* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #744253;
}

#container {
    width: 100%;
    background-color: #f3d9dc;
    max-width: 850px;
    min-width: ;
}